// https://www.htmlcsscolor.com/hex/334482


$header-color:rgba(16, 16, 29, 0.9);

$white-color: #ffffff;
$summer-sky: #43abf0;
$summer-sky-option: #42a9ed;
$black: #000000;
$summer-sky-span:#3e9cdc;
$black-russian: #2a2b30;
$dolphin: #6f6d7b;
$blue-zodiac: #3d4050;
$silver: #c3c3c3;
$silver-b: #bbbbbb;
$jaguar: #272733;